/*
  SUMMARY OF TECHNIQUES DONE:

  - Used @import to import fonts appropriate for the design
  - Used display: flex for most of the divs
  - Used transiion and hover for element animations when hovering
  - Used @mediascreen for handling the web page responsiveness

*/

/* Import Raleway Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Import B612 Font */
@import url("https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Body CSS */
body {
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: "Raleway", sans-serif; /* Raleway Font */
  background-color: black;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* Header CSS */
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 0;
}

/* KnowCap Logo CSS */
header img {
  max-width: 300px;
  cursor: pointer;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in-out;
  padding: 20px 0 10px 0;
  margin-right: 200px;
}

/* KnowCap Logo Hover CSS */
header img:hover {
  border-top: 2px dashed white;
  border-bottom: 2px dashed #C344FF;
}

/* KnowCap Logo Responsive CSS (through the help of media screen) */
@media screen and (min-width: 901px) and (max-width: 1100px) {
  header img {
    max-width: 250px;
  }
}
@media screen and (min-width: 751px) and (max-width: 900px) {
  header img {
    max-width: 200px;
  }
}
@media screen and (min-width: 501px) and (max-width: 750px) {
  header img {
    max-width: 150px;
    margin-right: 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  header img {
    max-width: 120px;
    margin-right: 0;
  }
}
/*---------------------------------------------------------------*/


/* Links (hover, focus, and active links) CSS */
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* About Us and FAQs Links CSS */
header a.about_us, header a.faqs {
  min-width: 100px;
  padding: 10px;
  border: 2px solid black;
  border-top: 2px dashed;
  transition: 0.2s linear;
  cursor: pointer;
  border-bottom: 2px dashed transparent;
}

/* About Us and FAQs Links Responsive CSS (through the help of media screen) */
@media screen and (min-width: 901px) and (max-width: 1100px) {
  header a.about_us, header a.faqs {
    font-size: 16px;
  }
}
@media screen and (min-width: 751px) and (max-width: 900px) {
  header a.about_us, header a.faqs {
    font-size: 14px;
  }
}
@media screen and (min-width: 551px) and (max-width: 750px) {
  header a.about_us, header a.faqs {
    font-size: 12px;
    padding: 5px;
    min-width: 50px;
  }
}
@media screen and (min-width: 401px) and (max-width: 550px) {
  header a.about_us, header a.faqs {
    font-size: 11px;
    padding: 5px;
    min-width: 50px;
  }
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  header a.about_us, header a.faqs {
    font-size: 9px;
    padding: 5px;
    min-width: 50px;
  }
}
/*----------------------------------------------------------------------------*/



/* About Us Link CSS */
header a.about_us {
  border-bottom: 2px dashed #56CCFF;
  color: #56CCFF;
  font-weight: bolder;
  border-top-color: #56CCFF;
}

/* FAQs Link CSS */
header a.faqs {
  border-top-color: #C344FF;
}

/* FAQs Link Hover CSS */
header a.faqs:hover {
  border-bottom: 2px dashed #C344FF;
  color: #C344FF;
  font-weight: bolder;
}

/* About KnowCap DIV CSS */
.about_knowcap {
  background: url("../Assets/footer_bg.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px 0;
}

/* About KnowCap DIV Responsive CSS (through the help of media screen) */
@media screen and (min-width: 0px) and (max-width: 850px) {
  .about_knowcap {
    height: auto;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
  }
}
/*----------------------------------------------------------------------*/



/* About KnowCap Image Decoration CSS */
.about_knowcap img {
  max-width: 35%;
}

/* About KnowCap Image Decoration Responsive CSS (through the help of media screen) */
@media screen and (min-width: 0px) and (max-width: 850px) {
  .about_knowcap img {
    max-width: 70%;
  }
}
/*-----------------------------------------------------------------------------------*/



/* Our Story DIV CSS */
.our_story {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px 0;
}

/* Our Story DIV Responsive CSS (through the help of media screen) */
@media screen and (min-width: 0px) and (max-width: 850px) {
  .our_story {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
/*------------------------------------------------------------------*/



/* Our Story Image Decoration CSS */
.our_story img {
  max-width: 35%;
}

/* Our Story Image Decoration Responsive CSS (through the help of media screen) */
@media screen and (min-width: 0px) and (max-width: 850px) {
  .our_story img {
    max-width: 50%;
  }
}
/*------------------------------------------------------------------------------*/



/* Information Text DIV (both About KnowCap and Our Story Text DIV) CSS */
.info_text {
  margin: 0 110px;
  text-align: left;
}

/* Information Text DIV Responsive CSS (through the help of media screen) */
@media screen and (min-width: 0px) and (max-width: 600px) {
  .info_text {
    margin: 0 50px;
  }
}
/*-------------------------------------------------------------------------*/



/* General Heading CSS */
h1 {
  font-size: 54px;
}

/* General Heading Responsive CSS (through the help of media screen) */
@media screen and (min-width: 751px) and (max-width: 1000px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 551px) and (max-width: 750px) {
  h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 0px) and (max-width: 550px) {
  h1 {
    font-size: 20px;
  }
}
/*--------------------------------------------------------------------*/



/* General Paragraph CSS */
p {
  font-family: "B612", sans-serif;
  font-size: 17px;
  line-height: 40px;
}

/* General Paragraph Responsive CSS (through the help of media screen) */
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  p {
    font-size: 15px;
    line-height: 37px;
  }
}
@media screen and (min-width: 751px) and (max-width: 1000px) {
  p {
    font-size: 15px;
    line-height: 37px;
  }
}
@media screen and (min-width: 551px) and (max-width: 750px) {
  p {
    font-size: 11px;
    line-height: 33px;
  }
}
@media screen and (min-width: 451px) and (max-width: 550px) {
  p {
    font-size: 10px;
    line-height: 32px;
  }
}
@media screen and (min-width: 0px) and (max-width: 450px) {
  p {
    font-size: 10px;
    line-height: 27px;
  }
}
/*----------------------------------------------------------------------*/



/* Footer CSS */
footer {
  background: url("../Assets/footer_bg.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Footer Transition Image CSS */
.footer_transition {
  width: 100%;
  height: auto;
  display: block;
}

/* Footer Content DIV CSS */
.footer_content {
  display: flex;
}

/* KnowCap Description DIV CSS */
.knowcap_desc {
  width: 50%;
  margin: 50px 0;
  padding: 80px 40px 50px 80px;
  text-align: left;
}

/* KnowCap Description DIV Responsive CSS (through the help of media screen) ----- */
@media screen and (min-width: 551px) and (max-width: 750px) {
  .knowcap_desc {
    margin: 20px 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 550px) {
  .knowcap_desc {
    margin: 10px 0;
    padding: 60px 10px 30px 60px;
  }
}
/*----------------------------------------------------------------------------------*/



/* KnowCap Logo in Footer CSS */
.knowcap_desc img {
  width: 40%;
}

/* KnowCap Logo in Footer Responsive CSS (through the help of media screen) ----- */
@media screen and (min-width: 451px) and (max-width: 1200px) {
  .knowcap_desc img {
    width: 50%;
  }
}
@media screen and (min-width: 0px) and (max-width: 450px) {
  .knowcap_desc img {
    width: 60%;
  }
}
/*---------------------------------------------------------------------------------*/



/* KnowCap Description in Footer CSS */
.knowcap_desc p {
  margin-top: 60px;
  font-size: 20px;
  font-family: "B612", sans-serif;
  line-height: 40px;
}

/* KnowCap Description in Footer Responsive CSS (through the help of media screen) ----- */
@media screen and (min-width: 751px) and (max-width: 1200px) {
  .knowcap_desc p {
    font-size: 16px;
  }
}
@media screen and (min-width: 551px) and (max-width: 750px) {
  .knowcap_desc p {
    margin-top: 30px;
    font-size: 13px;
    line-height: 33px;
  }
}
@media screen and (min-width: 451px) and (max-width: 550px) {
  .knowcap_desc p {
    margin-top: 20px;
    font-size: 10px;
    line-height: 30px;
  }
}
@media screen and (min-width: 0px) and (max-width: 450px) {
  .knowcap_desc p {
    margin-top: 20px;
    font-size: 9px;
    line-height: 29px;
  }
}
/*----------------------------------------------------------------------------------------*/



/* Footer Image Decoration CSS */
.footer_decor {
  width: 40%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: bottom;
  object-position: bottom;
}

/* Footer Image Decoration Responsive CSS (through the help of media screen) ----- */
@media screen and (min-width: 551px) and (max-width: 750px) {
  .footer_decor {
    width: 30%;
  }
}
@media screen and (min-width: 0px) and (max-width: 550px) {
  .footer_decor {
    width: 35%;
  }
}
/*----------------------------------------------------------------------------------*/
